<div class="menu-wrapper" [ngClass]="{'aberto': aberto}">
	<h1>LABMedication</h1>
	<div class="menu-body">
		<button class="button-control" [ngClass]="{'open': !aberto, 'close': aberto}" (click)="alternarAberto()">
			<span *ngIf="aberto; else hamburger">&times;</span>
		</button>
		<nav>
			<button class="menu-link" [routerLink]="'/home'" routerLinkActive="ativo">Inicio</button>
			<button class="menu-link" [routerLink]="'/cadastrar-paciente'" routerLinkActive="ativo">Cadastrar
				Paciente</button>
			<button class="menu-link" [routerLink]="'/cadastrar-medicamento'" routerLinkActive="ativo">Prescrever
				medicamento</button>
			<button class="menu-link" [routerLink]="'/cadastrar-medicamento'" routerLinkActive="ativo">Histórico de
				tratamentos</button>
		</nav>
	</div>
</div>

<ng-template #hamburger>
	<img [src]="'../../assets/img/menu.svg'" alt="">
</ng-template>