.menu-wrapper {
  background-color: var(--clr-primary);
  min-height: 100vh;
  min-height: 100dvh;
  padding: 5rem 1rem 1rem 1rem;
  position: relative;
  max-width: 55px;
}

.menu-wrapper.aberto {
  max-width: unset;
}

.menu-wrapper:not(.aberto) :is(h1, nav) {
  scale: 0;
  opacity: 0;
}

.menu-wrapper h1 {
  margin-bottom: 5rem;
}

.button-control {
  position: absolute;
  inset: 0.5rem 0.5rem auto auto;
  aspect-ratio: 1;
  width: 40px;
  color: #fff;
  font-size: 2rem;
  line-height: 0.9;
}

.button-control.open {
  background-color: transparent;
  border: 0;
}

.button-control.close {
  background-color: rgba(0 0 0 / 0.1);
  border: 2px solid #fff;
  border-radius: 100vw;
  display: flex;
  place-content: center;
}

.close:is(:hover, :focus-visible) {
  background-color: rgba(0 0 0 / 0.6);
}

nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

nav button {
	color: #fff;
  background-color: rgba(0 0 0 / 0.1);
  border: 2px solid #fff;
}

nav button:is(:hover, :focus-visible) {
  background-color: rgba(0 0 0 / 0.6);
}
