/* estilo geral */

.app-container {
	width: 100%;
	min-height: 100vh;
	min-height: 100dvh;
	/* display: grid; */
	grid-template-rows: auto 1fr;
	place-items: center;
	justify-content: center;
}

app-menu {
	position: fixed;
	inset: 0 auto 0 0;
	z-index: 999;
	box-shadow: 2px 0 5px 2px rgba(0 0 0 / .4);
}

.content-container {
	margin-left: 55px; 
	padding-top: 2rem;
}