/* estilo geral */

.app-container {
	width: 100%;
	min-height: 100vh;
	min-height: 100dvh;
	/* display: grid; */
	grid-template-rows: auto 1fr;
	place-items: center;
	justify-content: center;
}

.app-container h1 {
	padding-top: 1rem;
	text-align: center;
	margin-bottom: 2rem;
}


.links {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 2rem;
	padding: 0;
	justify-content: flex-start;
	gap: .5rem;
}

.links li {
	list-style: none;
}

.links button {
	border: 1px solid #aaa;
	padding: .5rem 1rem;
}

.links button.active {
	background-color: var(--clr-primary);
}