<div class="field" [formGroup]="form">
	<label [for]="id">{{ label }}</label>

	<input 
		[type]="type" [id]="id" [placeholder]="label" [name]="id" 
		[formControl]="formControlObject"
		[ngClass]="{'is-invalid': formControlObject.touched && formControlObject.invalid}" 
		*ngIf="(type !== 'select') && (type !== 'textarea')"
	>

	<select 
		[name]="id" [id]="id" 
		[formControl]="formControlObject"
		[ngClass]="{'is-invalid': formControlObject.touched && formControlObject.invalid}" 
		*ngIf="type === 'select'" 
	>
		<option value="" selected disabled>Selecione</option>
		<option 
			[value]="i" id="opcao-{{id}}-{{i}}" 
			*ngFor="let opcao of opcoes; let i = index" 
		>
			{{opcao}}		
		</option>
	</select>

	<textarea 
		[name]="id" [id]="id" cols="30" rows="10" 
		[formControl]="formControlObject"
		*ngIf="type === 'textarea'"
	></textarea>
	
	<div 
		class="error-msg" 
		*ngIf="formControlObject.touched && formControlObject.invalid"
	>
		<p *ngFor="let key of Object.keys(formControlObject.errors)">
			<span *ngIf="formControlObject.errors[key]">
				{{ errorsMessage[key] }}
			</span>
		</p>
	</div>
</div>

<!-- 
<app-form-field label="Senha" id="senha"
	[isSelect]='true'
	[opcoes]='opcoes'
	[errorsMessage]="{required: 'Campo obrigatório.', minlength: 'A senha precisa ter pelo menos 10 caracteres.'}"
	[formControlObject]="fc.senha" [form]="form"
></app-form-field> -->